<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Lista de productos</title>
<%- include ('../partials/head') %>
<link rel="stylesheet" href="css/stylesindex.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('../partials/header') %>

    <!-----------------------------------------=SECTION=----------------------------------------------------->
    <main>
        <section class="last-visit">
            <h3>VINOS TINTOS</h3>
            <div class="products">
                <article>
                    <img src="../images/img-tinto-malbec-fond-de-cave.jpg" alt="FondDeCave" class="product_img">
                    <div class="main-article">
                        <p class="price">$998,19</p>
                        <p class="discount">30% off</p>
                        <h4 class="description">Fond de Cave Reserva</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-tinto-malbec-impuro.jpg" alt="Impuro" class="product_img">
                    <div class="main-article">
                        <p class="price">$834,80</p>
                        <p class="discount">35% off</p>
                        <h4 class="description">Impuro</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-tinto-cabernet-fincas-notables.jpg" alt="Fincas" class="product_img">
                    <div class="main-article">

                        <p class="price">$2.873,67</p>
                        <p class="discount">30% off</p>
                        <h4 class="description">Fincas Notables</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-tinto-cabernet-gran-medalla.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$3.816,28</p>
                        <p class="discount">70% off</p>
                        <h4 class="description">Gran Medalla</h4>
                    </div>
                </article>
            </div>
            <h3>VINOS BLANCOS</h3>
            <div class="products">
                <article>
                    <img src="../images/img-blanco-sauvignon-don-david.png" alt="FondDeCave" class="product_img">
                    <div class="main-article">
                        <p class="price">$998,19</p>
                        <p class="discount">70% off</p>
                        <h4 class="description">Don David Reserva</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-blanco-sauvignon-fond-de-cave.jpg" alt="Impuro" class="product_img">
                    <div class="main-article">
                        <p class="price">$998,19</p>
                        <p class="discount">70% off</p>
                        <h4 class="description">Fond de Cave Reserva</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-blanco-chardonnay-los-intocables.jpg" alt="Fincas" class="product_img">
                    <div class="main-article">

                        <p class="price">$899,02</p>
                        <p class="discount">70% off</p>
                        <h4 class="description">Los Intocables</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-blanco-chardonnay-gran-medalla-2014.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$3.816,28</p>
                        <p class="discount">70% off</p>
                        <h4 class="description">Gran Medalla 2014</h4>
                    </div>
                </article>
            </div>
            <h3>CERVEZAS</h3>
            <div class="products">
                <article>
                    <img src="../images/img-cerveza-irish-rabieta.jpg" alt="FondDeCave" class="product_img">
                    <div class="main-article">
                        <p class="price">$388</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Rabieta Red Irish</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-cerveza-negra-schofferhofer.jpg" alt="Impuro" class="product_img">
                    <div class="main-article">
                        <p class="price">$735</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Hefeweizen Dunkel 0,5L</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-cerveza-rubia-grolsch.jpg" alt="Fincas" class="product_img">
                    <div class="main-article">

                        <p class="price">$398</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Grolsh</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-cerveza-rubia-kolsch.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$314</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Antares Kolsch 500Ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-cerveza-rubia-morena.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$160</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Morena Oro 330ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-cerveza-rubia-schofferhofer.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$480</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Schöfferhofer Hefeweizen 500Ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-cerveza-rubia-corona.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$189</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Corona 330Ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-cerveza-rubia-galicia.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$2.159,1</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Galicia 300Ml</h4>
                    </div>
                </article>
            </div>
            <h3>SPIRITS </h3>
            <div class="products">
                <article>
                    <img src="../images/img-spirit-gin-tanqueray.jpg" alt="FondDeCave" class="product_img">
                    <div class="main-article">
                        <p class="price">$3.128</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Gin Tanqueray Dry</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-spirit-gin-gordons.jpg" alt="Impuro" class="product_img">
                    <div class="main-article">
                        <p class="price">$1.251,30</p>
                        <p class="discount">15% off</p>
                        <h4 class="description">Gin Gordon's</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-spirit-ron-zacapa.jpg" alt="Fincas" class="product_img">
                    <div class="main-article">

                        <p class="price">$9.8721,72</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Ron Zacapa 750Ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-spirit-vodka-smirnoff-21.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$931,50</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Smirnoff 21 700Ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-spirit-whisky-jhonnie-walker-red-label.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$3.152,93</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">JW Red Label 750Ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-spirit-whisky-jhonnie-walker-black-label.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$6.066</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">JW Black Label 750Ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-spirit-whisky-jack-daniels.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$2.100</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Jack Daniel's 750Ml</h4>
                    </div>
                </article>
                <article>
                    <img src="../images/img-spirit-whisky-jameson.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$3.150</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Jameson 750Ml</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <!-----------------------------------------=FOOTER=----------------------------------------------------->
    <%- include ('../partials/footer') %>