<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Lista de productos</title>
<%- include ('../partials/head') %>
<link rel="stylesheet" href="css/stylesindex.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('../partials/header') %>

    <!-----------------------------------------=SECTION=----------------------------------------------------->
    <main>
        <section class="last-visit">
            <h3>DESTACADOS</h3>
            <div class="products">
                <article>
                    <img src="images/FONT DE CAVE.jpg" alt="FondDeCave" class="product_img">
                    <div class="main-article">
                        <p class="price">$998,19</p>
                        <p class="discount">30% off</p>
                        <h4 class="description">Fond de Cave Reserva</h4>
                    </div>
                </article>
                <article>
                    <img src="images/IMPURO.jpg" alt="Impuro" class="product_img">
                    <div class="main-article">
                        <p class="price">$834,80</p>
                        <p class="discount">35% off</p>
                        <h4 class="description">Impuro</h4>
                    </div>
                </article>
                <article>
                    <img src="images/FINCAS NOTABLES.jpg" alt="Fincas" class="product_img">
                    <div class="main-article">

                        <p class="price">$2.873,67</p>
                        <p class="discount">30% off</p>
                        <h4 class="description">Fincas Notables</h4>
                    </div>
                </article>
                <article>
                    <img src="images/JAMESON.jpg" alt="Jameson" class="product_img">
                    <div class="main-article">
                        <p class="price">$3.150</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Jameson 750Ml</h4>
                    </div>
                </article>
            </main>

    <!-----------------------------------------=FOOTER=----------------------------------------------------->
    <%- include ('../partials/footer') %>