<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Carrito de compras</title>
<script src="https://kit.fontawesome.com/6d08e04018.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/stylesindex.css">
</head>
<body>
<div class="padre">
<header class="header">
    <div class="menu">
<div class="logo"></div>
<div class="frase"> Open Bar</div>
<div class="iconos">
    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    <a href="#"><i class="fa-solid fa-address-book"></i></i></a>
    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
</div>
</div>
<div class="menu2">
<nav class="barra">
    <a href="#">Vinos</a>
    <a href="#">Cerveza</a>
    <a href="#">Whisky</a>
    <a href="#">Gin</a>
    <a href="#">Ron</a>
    <a href="#">Vodka</a>
    <a href="#">Otros</a>
    <a href="#">Promociones</a>
</nav>
</div>
</header>
<div class="slider">
    <ul>
        <li><img src="images/ban_6-05_1.jpg" alt="ban_6-05_1"></li>
        <li><img src="images/beneficios-vinos-18-11.jpg" alt="beneficios-vinos-18-11"></li>
        <li><img src="/images/beneficios-whiskies-18-11.jpg" alt="beneficios-whiskies-18-11"></li>
    </ul>
</div>
<section class="section">
    <div class="articulos">
        <article class="article"></article>
        <article class="article"></article>
        <article class="article"></article>
        <article class="article"></article> 
    </div>
    <aside class="aside">
        <div class="cart_summary-sticky"></div>
    </aside>
</section>
<footer class="footer">
</footer>
</div>
</body>
</html>