<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <script src="https://kit.fontawesome.com/6d08e04018.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/stylesindex.css">
    <link rel="stylesheet" href="css/stylesProductDetail.css">

</head>

<body>
    <header class="header-container">
        <div class="Intro">
            <div class="Logo"></div>
            <div class="Nombre">
                <ul>
                    <li class="texto1">OPEN BAR</li>
                    <li class="texto2">AQUELLA BEBIDA QUE BUSCAS, LA ENCONTRAS</li>
                </ul>
            </div>
            <div class="Iconos">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="#"><i class="fa-solid fa-address-book"></i></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="menu">
            <nav class="barra">
                <a href="#">Vinos</a>
                <a href="#">Cerveza</a>
                <a href="#">Whisky</a>
                <a href="#">Gin</a>
                <a href="#">Ron</a>
                <a href="#">Vodka</a>
                <a href="#">Otros</a>
                <a href="#">Promociones</a>
            </nav>
        </div>
    </header>
    <main>        
        <section>
            <h3>Detalle de Producto</h3>
            <br>
            <h4>Cerveza Corona</h4>
            <br>
            <div class="productos">
                <article>
                    <img src="images/img-cerveza-corona.jpg" alt="Corona" class="product_img">
                </article>
                <article>
                    <p class="nombre-bebida">Corona</p>
                    <br>
                    <p class="precio">$180</p>
                    <br>
                    <input type="button" value="-">
                    <input type="number" >
                    <input type="button" value="+">
                    <br>
                    <br>
                    <button class="boton" type="submit">Comprar</button>
                    <br>
                    <br>
                    <span>Retiro GRATIS en sucursal</span>
                    <br>
                    <span>Envíos a todo el país</span>


                </article>
            </div>
            <div>
            <p>
                Descripción:
                <br>
                - "Graduación Alcohólica: 5%"
                <br>
                - "Presenta un color amarillo claro y brillante"
                <br>
                - "De espuma blanca y consistente"
                <br>
                - "De cuerpo medio, fresca, balanceada y muy fácil de beber" 
            </p>
        </div>
            
            
            
        </section>
        <footer>
            <div class="atencion">
                <div class="columnas">
                    <div class="col-s1">
                        <h2>Horarios</h2>
                        <p><a href="horarios">Ver +</a></p>
                    </div>
                    <div class="col-s1">
                        <h2>Venta telefonica</h2>
                        <p>WhatsApp 15 7090 6999</p>
                        <p>De 9 a 18 hs. <a href="#"><i class="fa-solid fa-phone"></i></a></p>
                    </div>
                    <div class="col-s1">
                        <h2>Preguntas</h2>
                        <p><a href="horarios">Escribinos,</a> estamos para ayudarte.
                        </p>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="columnas">
                    <div class="col-s2">
                        <h3>Categorias</h3>
                        <ul>
                            <li><a href="">Vinos</a></li>
                            <li><a href="">Cerveza</a></li>
                            <li><a href="">Whisky</a></li>
                            <li><a href="">Gin</a></li>
                            <li><a href="">Ron</a></li>
                            <li><a href="">Vodka</a></li>
                            <li><a href="">Otros</a></li>
                            <li><a href="">Promociones</a></li>
                        </ul>
                    </div>
                    <div class="col-s1">
                        <h3>Ayuda</h3>
                        <ul>
                            <li><a href="">Preguntas frecuentes</a></li>
                            <li><a href="">Envios</a></li>
                            <li><a href="">Terminos y condiciones</a></li>
                        </ul>
                    </div>
                    <div class="col-s1">
                        <ul>
                            <li>
                                <h3>Medios de pagos</h3>
                                <p> <a href="#"><img src="images/tarjetas.png" alt=""></a></p>
                            </li>
                            <li>
                                <h3>Envianos tu consulta:</h3>
                                <p>tienda@openbar.com</p>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <h4>Seguinos</h4>
                                    </li>
                                    <li><a href="#"><img src="images/ico-instagram.png" alt=""></a></li>
                                    <li><a href="#"><img src="images/ico-facebook.png" alt=""></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="probido">
            <h2>BEBER CON MODERACION. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</h2>
        </div>


</body>

</html>