<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="css/stylesProductDetail.css">
            <title>Open Bar</title>
            </head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="&">Inicio</a></li>
            <li><a href="&">Nosotros</a></li>
            <li><a href="&">Productos</a></li>
            <li><a href="&">Contacto</a></li>
                   </ul>
                    </nav>
                    </header>
                    <main>
                        </main>
                        <footer>
                            </footer>
                </body>
        </html>