/*====GENERAL====*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
body{
    font-family: 'Koulen', cursive;
    }

.header-container{
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
       }
.Intro{
    background:white;
    align-items: center;
    justify-content: space-between;
    display:flex;
    margin:0px;
    color: black;
    }
.Logo{flex:6 1 auto;
    background: url(../images/Logo\ opcion\ 2.png);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    height: 100px;
    }
.Nombre{flex:20 1 auto;
justify-self:center}
.Nombre ul{list-style-type:none;
    text-align: center;
}
.texto1{font-size:50px;
    margin:5px;}
    
.Iconos{flex:0.1 1 auto;
    align-self: flex-end;
        }

.Iconos a{
    color:black;
    padding: 10px;
}
.menu{
    padding:0px;
    background:#bca150;
    font-size:15px;
    }
.barra a{
color: white;
text-decoration:none;
padding:10px;
}
.barra a:hover{
color:black;
}
.slider{
    background: white;
    width:auto;
    margin:auto;
    overflow:hidden;
}
.slider ul{
    display:flex;
    padding:0;
    width: 300%;
    animation: cambio 20s infinite alternate linear;
}
.slider li{
    width:100%;
    list-style:none;
}
.slider img{
width:100%;
}
@keyframes cambio {
    0%{margin-left:0;}
   20%{margin-left:0;}
   25%{margin-left:-100%}
   45%{margin-left:-100%}
   50%{margin-left:-200%}
   70%{margin-left:-200%}
}

@media  all and (max-width:500px){
    .header-container{
        flex-direction:column;
    }
    .Nombre{flex: 1 1 auto;
    size-adjust: auto;
font-size: smaller;}
    .menu{
        flex-direction:column;
        height:auto;
        justify-content:center;
    }
}
@media  (min-widht:360) and (max-width:480px){
    .header-container{
        flex-direction:column;
    }
    .Logo{width: 5px;
        height: 5px;}
    .Nombre{flex: 1 1 auto;
    size-adjust: auto;
font-size: 10px;}
    .menu{
        flex-direction:column;
        height:auto;
        justify-content:center;
    }
}