* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;       
}
.contenedor {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 90vw;
    height: 50vh;
    margin-bottom: 100px;
}
.subcotenedor1 {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 10px;        
}
.titulo {
    font-size: 2.5rem;
    font-weight: bold;
}

.subcontenedor2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-style: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: auto;
}

.subcontenedor3 {
    flex-direction: row;
}

.subcontenedor-imagen {
    display: flex;
    border-style: none;
    margin: 10px;
    width: 50%;
           
}

.product_img{
    width: 30%;
    height: 90%;
    margin: auto;
}

.subcontenedor-data {
    display: flex;
    border-style: none;
    margin: 10px;
    
}

.nombre-bebida {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: solid;
}

.bodega {
    font-size: 2.5rem;
    color: orange;
    font-weight: bold;
}
.variedad {
    font-size: 2rem;
    color: orange;
    font-style: italic;
}
.precio {
    font-size: 16px;
}

.description {
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
    
}
.cantidad {
    height: 20px;
}
.boton {
    height: 30px;
    width: 200px;
    border-radius: 10%;
    background-color: orange;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.envio {
    font-size: 1.5rem;
    font-weight: 50;
    font-style: oblique;
}
.volver {
    font-size: 20px;
    color: black;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    
  }
  
@media(max-width:990px){
  
    html{
      font-size: 80%;
    }
    .subcontenedor3{
        margin-top: 30px;
    }
    .product_img{
        width: 50%;
        height: 120%;
        margin-right: 100px;
    }  
  
}
@media(max-width:760px){
  
    html{
      font-size: 60%;
    }
    .subcontenedor3{
        margin-top: 30px;
    }
    .product_img{
        width: 70%;
        height: 110%;
        margin-right: 100px;
    }  
    
 
}
@media(max-width:450px){
  
    html{
      font-size: 60%;
    }
    .subcontenedor3{
        margin-top: 30px;
    }
    .product_img{
        width: 120%;
        margin-right: 100px;
    }   
}

    @media(max-width:360px){
  
        html{
          font-size: 50%;
        }
        .product_img{
            width: 150%;
            margin-right: 100px;
        }
       
        
    }