/*====HEADER====*/

.header-container{
    background-color: black;
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    }
    
    .Item1{
        border: 1px solid black;
        color:black;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        margin: 5px;
        justify-content: center;
    }
    .logo{width: 100px;}
    .Item2{
        flex: 0.8 3;
        border: 1px solid black;
        color:black;
        width: 120px;
        height: 120px;
        margin: 5px;
        display: flex;
        color: whitesmoke;
        }
    
    .frase{margin:auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    }
    
    .texto1{margin:auto;
        font-size:50px}
    
    .Item3{
        border: 1px solid black;
        color:black;
        display: flex;
        align-self: flex-end;
        margin:5px;
    }
    .Item3 a{
        color:whitesmoke;
        padding: 0.5px;
        align-self: flex-end;
        padding: 5px;
        }
    
    .buscar-texto{
    text-align: center;
    height: 25px;
    }
    .cuenta{
        text-align:end;
        text-decoration:none;
    }
    
    /*====NAV====*/
    .barra{
        padding:0px;
        background:orange;
        font-size:15px;
        align-items: center;
        border: solid rgba(0, 0, 0, 0.053);
        }
    .barra a{
    align-items: center;
    color: black;
    text-decoration:none;
    padding:10px;
    }
    .barra a:hover{
    color:whitesmoke;
    }