
a{text-decoration: none;
    color: black;}
   

.probido h2{
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    width: auto;
    font-size:13px;
   margin: auto;
}

.footer .box-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
    text-decoration: none;
  }
  
  .footer .box-container .box .share a{
    padding:0;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
  }
  
  .footer .box-container .box h3{
    font-size: 1.5rem;
    color:var(--black);
  }
  
  .footer .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding:.7rem 0;
  }
  
  .footer .box-container .box .links{
    padding:1rem 0;
  }
  
  .footer .box-container .box .links a{
    display: block;
    padding:.5rem 0;
    font-size: 1rem;
    color:#333;
    text-decoration: none;
  }
  
  .footer .box-container .box .links a:hover{
    color:var(--orange);
  }
  
  .footer .credit{
    padding:2.5rem 1rem;
    border-top: .1rem solid rgba(0,0,0,.1);
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .footer .credit span{
    color:var(--orange);
    text-decoration: none;
  }
  
  
  
  