* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

body {
  font-family:'Roboto', sans-serif;   
 
    }

.contactanos {
  width: 600px;
  height: 450px;
  background: rgba(248, 244, 244, 0.94);    
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;    
  padding: 20px 30px;    
  color: rgb(12, 12, 12);
  text-align: center;
  
}

.contactanos h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
  font-size: 20px;
}

.mensaje {
  width: 600px;
  height: 10px;
  margin-top: 0px;
  margin-bottom: 10px;    
  color: rgb(12, 12, 12);
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.controls {
  width: 100%;
  border: 1px solid #0e0e0e;
  margin-bottom: 15px;
  padding: 5px 10px;
  background: #f1e8dd;
  font-size: 14px;
  font-weight: bold;
}

.controls2 {
  width: 100%;
  border: 1px solid #0e0e0e;
  margin-bottom: 5px;
  padding: 5px 10px;
  background: #f1e8dd;
  font-size: 14px;
  font-weight: bold;
}
.controls3 {
  width: 100%;
  height: 100px;
  border: 1px solid #0e0e0e;
  margin-bottom: 15px;
  padding: 5px 10px;
  background: #f1e8dd;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  background: black;    
  border: none;
  color: white;
  margin-bottom: 16px;
  font-size: 20px;
}


.contactanos a {    
  color: black;
  text-decoration: none;
  font-size: 14px;
  text-decoration: underline;
}

