/*====GENERAL====*/
body{font-family:'Roboto', sans-serif;
    background-color: whitesmoke;}

.slider{
    background: whitesmoke;
    width:auto;
    margin:auto;
    overflow:hidden;
}
.slider ul{
    display:flex;
    padding:0;
    width: 300%;
    animation: cambio 20s infinite alternate linear;
}
.slider li{
    width:100%;
    list-style:none;
}
.slider img{
width:100%;
}
@keyframes cambio {
    0%{margin-left:0;}
   20%{margin-left:0;}
   25%{margin-left:-100%}
   45%{margin-left:-100%}
   50%{margin-left:-200%}
   70%{margin-left:-200%}
}

/*SECTION------------------------------------------------------------------------------------------*/

div.last-visit {
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: black;
}

.description{
  margin-top: 20px;
}


main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    text-align: center;
}

main section article img{
    width: 50%;
}

main section article i,
.discount{
    color: black;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}


.products{display: block;}
/* 
.pie-pagina{
    width: 100%;
    background: orange;
    color: black;
    font-size: smaller;
    border-top: double rgba(0, 0, 0, 0.87);
}

.pie-pagina .grupo-1{
width: auto;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 50px;
padding: 5px 0px;
margin-top: 30px;
}

.pie-pagina2{
    width: 100%;
    background: orange;
    color: black;
    font-size: smaller;
    border-top: double rgba(0, 0, 0, 0.87);
}
.pie-pagina2 .grupo-1{
    width: 1300px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 5px 0px;
    margin-top: 30px;
    list-style: none
    }
a{text-decoration: none;
    color: black;
   
    }
.pie-pagina .grupo-1 a:hover{
    color:whitesmoke;
        }

li{list-style: none;}

.probido h2{
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    width: auto;

} */
