.pie-pagina{
    width: 100%;
    background: orange;
    color: black;
    font-size: smaller;
    border-top: double rgba(0, 0, 0, 0.87);
    margin-top: 25px;
}

.pie-pagina .grupo-1{
width: auto;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 50px;
padding: 5px 0px;
margin-top: 30px;
}

.pie-pagina2{
    width: 100%;
    background: orange;
    color: black;
    font-size: smaller;
    border-top: double rgba(0, 0, 0, 0.87);
}
.pie-pagina2 .grupo-1{
    width: 1300px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 5px 0px;
    margin-top: 30px;
    list-style: none
    }
a{text-decoration: none;
    color: black;
   
    }
.pie-pagina .grupo-1 a:hover{
    color:whitesmoke;
        }

li{list-style: none;}

.seguinos{display:flex;}

.probido h2{
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    width: auto;

}
