*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}


.product_img {
    width: 20%;
}

.description{
    font-size: 16px;
    font-weight: bold;
    
}
.nombreProducto{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;

}
.contenedor {
    display: flex;
    flex-wrap: wrap;
}
.main-article{
    font-size: 30px;
}
.botones{
    font-size: 30px;
    padding: 10px;

}