<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Carrito</title>
<%- include ('./partials/head') %>
<link rel="stylesheet" href="css/stylescarrito.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('./partials/header') %>
<!-----------------------------------------=CARRITO=----------------------------------------------------->

<div class="carrito-productos">

    
<table class="form1">
<tr>
    <td>Producto</td>
    <td>Detalle</td>
    <td>Cantidad</td>
    <td>Precio</td>
</tr>
<tr>
    <td><img src="images/FONT DE CAVE.jpg" alt="FONT DE CAVE"></td>
    <td>Fond de Cave Reserva</td>
    <td><div class="boton-suma-resta"><div class="sum">-</div> <div class="sum">1</div><div class="sum">+</div> </div></td>
    <td>$998,19</td>
</tr>
<br>
<tr>
    <td><img src="images/IMPURO.jpg" alt="IMPURO"></td>
    <td>Immpuro</td>
    <td><div class="boton-suma-resta"><div class="sum">-</div> <div class="sum">2</div><div class="sum">+</div> </div></td>
    <td>$834,80</td>
</tr>
<br>
<tr>
    <td><i class="fa-solid fa-shop"></i></td>
    <td>Total Compra</td>
    <td><div class="boton-suma-resta"><div class="sum"> </div> <div class="sum">3</div><div class="sum"> </div> </div></td>
    <td>$1832,99</td>
</tr>
</table>

</div>


<!-----------------------------------------=FOOTER=----------------------------------------------------->
<%- include ('./partials/footer') %>
