<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Contacto</title>
<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/stylescontact.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<body>
<%- include ('./partials/header') %>
<!-----------------------------------------=SECTION=----------------------------------------------------->
<body>
    <main>
   <section class="contactanos"><h5>Contactanos</h5>
    <p>
        <input class="controls" type="text" name="usuario" size="20" placeholder="Nombre y apellido">
        </p>
    <p>
        <input class="controls" type="text" name="email" size="20" placeholder="Email">
        </p>
    <p>
        <input class="controls2" type="text" name="telefono" size="20" placeholder="Teléfono">
        </p>
        <br>
        <label class="mensaje" for="contact">Dejanos tu mensaje:</label>
        <textarea name="contact" id="contact" class="controls3"></textarea>
        <br>
        <br>
    <p>  
        <input class="buttons" type="submit" name="" value="Enviar">
        </p> 

        </section>
    </section>
</main>
    <!-----------------------------------------=FOOTER=----------------------------------------------------->
    <%- include ('./partials/footer') %>
</body>
</html>