<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Preguntas Frecuentes</title>
<%- include ('./partials/head') %>
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<body>
<%- include ('./partials/header') %>
<!-----------------------------------------=SECTION=----------------------------------------------------->
    <main>
        <section class="last-visit">
            <h3 class="title">Preguntas frecuentes</h3>
             
            </div>
        </section>
    </main>

    <!-----------------------------------------=FOOTER=----------------------------------------------------->
    <%- include ('./partials/footer') %>
</body>
</html>