<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<head>
    <title>Preguntas Frecuentes</title>
    <%- include ('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesfaq.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->

<body>
    <%- include ('./partials/header') %>
<!-----------------------------------------=SECTION=----------------------------------------------------->
        <main>
            <section>
                <h3 class="title">Preguntas frecuentes</h3>
                <ul>
                    <li><div class="preguntas">¿Cómo comprar?</div></li>
                </ul>
                    <p class="respuestas">
                        En Open Bar, aquella bebida que buscas, la encontras y realizar tu compra es super
                        sencillo.
                        Navegá por las secciones que te interesan, agregá los productos al carrito y luego
                        en esa sección avanzá a la sección de envío y pago.
                    </p>
                <ul>
                    <li><div class="preguntas">¿Con qué medios de pago puedo abonar?</div></li>
                </ul>
                    <p class="respuestas">
                        Aceptamos tarjetas de crédito y débito, depósito bancario y efectivo contraentrega de tu pedido.
                    </p>
                <ul>
                    <li><div class="preguntas">¿Como gestiono el envío de mi pedido?</div></li>
                </ul>    
                    <p class="respuestas">
                        Antes de realizar el pago deberás confirmar tus datos para el envío y quien podrá recibirlo. 
                        Una vez confirmado recibirás tu pedido de 48 a 72 hs. hábiles.
                    </p>
                <ul>
                    <li><div class="preguntas">¿Puedo pedir un producto que no esté en el listado?</div></li>
                </ul>
                    <p class="respuestas">
                        Si. Para pedidos especiales podes comunicarte con nosotros en la sección de contacto 
                        para que podamos brindarte mayor información.
                    </p>
                <ul>
                    <li><div class="preguntas">¿Puedo retirar mi pedido personalmente?</div></li>
                </ul>
                    <p class="respuestas">
                                Actualmente sólo trabajamos con envíos a través de nuestra tienda online.
                    </p>
                    </div>
            </section>
        </main>

<!-----------------------------------------=FOOTER=----------------------------------------------------->
        <%- include ('./partials/footer') %>
</body>

</html>