<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Formulario login</title>
<%- include ('./partials/head') %>
<link rel="stylesheet" href="css/stylelogin.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('./partials/header') %>
<body>
        <main>
       <section class="formulariologin"><h5>Iniciar sesion</h5>
        <p>
            <input class="controls" type="text" name="usuario" size="20" placeholder="Usuario">
            </p>
        <p>
            <input class="controls" type="password" name="contrasena" size="20" placeholder="Contrasena">
            </p>
         <p>  
            <input class="buttons" type="submit" name="" value="Ingresar">
            </p> 
            <p>
                <div class="checkbox"> <input type="checkbox" name="terms" value="terms" required>Recordarme</input>
                 </p></div>
        <p>
            <div>
             <a href="#">¿Olvidaste tu Contrasena?</a>
            </p></div>
        
            </section>
        </section>
      
    </main>
    <%- include ('./partials/footer') %> 
</html>
