<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Producto</title>
<%- include ('./partials/head') %>
<link rel="stylesheet" href="css/stylesProductDetail.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('./partials/header') %>
<body>
    <main>
        <section>
            <h3>Detalle de Producto</h3>
            <br>
            <br>
            <div class="productos">
                <article>
                    <img src="images/img-cerveza-corona.jpg" alt="Corona" class="product_img">
                </article>
                <article class="info">
                    <p class="nombre-bebida">Corona</p>
                    <br>
                    <p class="precio">$180</p>
                    <br>
                    <div>
                    <input type="button" value="-">
                    <input type="number">
                    <input type="button" value="+">
                </div>
                    <br>
                    <br>
                    <button class="boton-compra" type="submit">Comprar</button>
                    <br>
                    <br>
                    <span class="description">Retiro GRATIS en sucursal</span>
                    <br>
                    <span class="description">Envíos a todo el país</span>
                </article>
            </div>
            <div>
                <p class="description">
                    Descripción:
                    <br>
                    - "Graduación Alcohólica: 5%"
                    <br>
                    - "Presenta un color amarillo claro y brillante"
                    <br>
                    - "De espuma blanca y consistente"
                    <br>
                    - "De cuerpo medio, fresca, balanceada y muy fácil de beber"
                </p>
            </div>



        </section>
        </main>
        </body>

        <%- include ('./partials/footer') %> 
      
</html>