<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <script src="https://kit.fontawesome.com/6d08e04018.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesProductDetail.css">

</head>

<!-----------------------------------------=HEADER=----------------------------------------------------->

<body>
    <header class="header-container">
        <div class="Item1"><img src="images/logo opcion 1.gif" alt="" class="logo"></div>
        <div class="Item2">
            <ul class="frase">
                <li class="texto1">OPEN BAR</li>
                <li class="texto2">AQUELLA BEBIDA QUE BUSCAS, LA ENCONTRAS</li>
            </ul>
        </div>
        <div class="Item3">
            <input type="text" class="buscar-texto" placeholder="Busqueda">
            <a href="#" class="boton"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/login" class="acceso"><i class="fa-solid fa-address-book"></i></i></a>
            <a href="/carrito" class="shopping"><i class="fa-solid fa-cart-shopping"></i></a>
            <div class><a class="cuenta" href="/registro">Crear cuenta</a></div>
        </div>

    </header>
    <nav class="barra">
        <a href="#">Vinos</a>
        <a href="#">Cerveza</a>
        <a href="#">Spirits</a>
        <a href="#">Promociones</a>
    </nav>

    <!-----------------------------------------=SLIDER=----------------------------------------------------->
    <div class="slider">
        <ul>
            <li><img src="images/ban_6-05_1.jpg" alt="ban_6-05_1"></li>
            <li><img src="images/beneficios-vinos-18-11.jpg" alt="beneficios-vinos-18-11"></li>
            <li><img src="images/beneficios-whiskies-18-11.jpg" alt="beneficios-whiskies-18-11"></li>
        </ul>
    </div>
    <main>
        <section>
            <h3>Detalle de Producto</h3>
            <br>
            <br>
            <div class="productos">
                <article>
                    <img src="images/img-cerveza-corona.jpg" alt="Corona" class="product_img">
                </article>
                <article class="info">
                    <p class="nombre-bebida">Corona</p>
                    <br>
                    <p class="precio">$180</p>
                    <br>
                    <div>
                    <input type="button" value="-">
                    <input type="number">
                    <input type="button" value="+">
                </div>
                    <br>
                    <br>
                    <button class="boton-compra" type="submit">Comprar</button>
                    <br>
                    <br>
                    <span class="description">Retiro GRATIS en sucursal</span>
                    <br>
                    <span class="description">Envíos a todo el país</span>
                </article>
            </div>
            <div>
                <p class="description">
                    Descripción:
                    <br>
                    - "Graduación Alcohólica: 5%"
                    <br>
                    - "Presenta un color amarillo claro y brillante"
                    <br>
                    - "De espuma blanca y consistente"
                    <br>
                    - "De cuerpo medio, fresca, balanceada y muy fácil de beber"
                </p>
            </div>



        </section>
        </main>

        </footer>
        <footer class="pie-pagina2">
            <div class="grupo-1">
                <div class="box2">
                    <h3>Categorias</h3>
                    <ul>
                        <li><a href="">Vinos</a></li>
                        <li><a href="">Cerveza</a></li>
                        <li><a href="">Spirits</a></li>
                        <li><a href="">Promociones</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Ayuda</h3>
                    <ul>
                        <li><a href="">Preguntas frecuentes</a></li>
                        <li><a href="">Envios</a></li>
                        <li><a href="">Terminos y condiciones</a></li>
                    </ul>
                </div>
                <div class="box">
                    <ul>
                        <li>
                            <h3>Medios de pagos</h3>
                            <p> <a href="#"><img src="images/tarjetas.png" alt=""></a></p>
                        </li>
                        <li>
                            <h3>Envianos tu consulta:</h3>
                            <p>tienda@openbar.com</p>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <h4>Seguinos</h4>
                                </li>
                                <li><a href="#"><img src="images/ico-instagram.png" alt=""></a></li>
                                <li><a href="#"><img src="images/ico-facebook.png" alt=""></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="probido">
            <h2>BEBER CON MODERACION. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</h2>
        </div>


</body>

</html>