<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<link rel="stylesheet" href="/css/stylesFooter.css">

<!-----------------------------------------=FOOTER=----------------------------------------------------->

 
<!-- footer section starts  -->
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Categorías</h3>
            <div class="links">
                <a href="/product/list">Vinos</a>
                <a href="/product/list">Cervezas</a>
                <a href="/product/list">Spirits</a>
                <a href="/product/list">Promociones</a>
           </div>
        </div>
        <div class="box">
            <h3>Atención al cliente</h3>
            <div class="links">
                    <a href="#">WhatsApp 15 7090 6999 <br>
                        De 9 a 18 hs. <i class="fa-solid fa-phone"></i></a>
                    <a href="horarios">Horarios +</a>
                    <a href="horarios">Escribinos, estamos para ayudarte.</a>
         </div>    
        </div>
        <div class="box">
            <h3>Ayuda</h3>
            <div class="links">
                <a href="#">Preguntas frecuentes</a>
                <a href="#">Envios</a>
                <a href="#">Terminos y condiciones</a>
            </div>
        </div>
        <div class="box">
            <h3>Envianos tu Consulta:</h3>
            <p>tienda@openbar.com</p>
            <div class="share">
                <a href="#" class="btn fab fa-facebook-f"></a>
                <a href="#" class="btn fab fa-twitter"></a>
                <a href="#" class="btn fab fa-instagram"></a>
                <a href="#" class="btn fab fa-linkedin"></a>
            </div>
            <br>
            <h3>Medios de pago</h3>
            <div class="share">
                <a href="#" class="btn fa-brands fa-cc-visa"></a>
                <a href="#" class="btn fa-brands fa-cc-mastercard"></a>
                <a href="#" class="btn fa-brands fa-cc-amex"></a>
           </div>
        </div>
    </div>
    <h6 class="credit"> Copyright © 1999-2022 Open Bar S.R.L. </h6>
</section>

<!-- footer section ends -->

</body>
</html>
