<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<link rel="stylesheet" href="../css/stylesFooter.css">

<!-----------------------------------------=FOOTER=----------------------------------------------------->

<footer class="pie-pagina">
    <div class="grupo-1">
            <ul class="box">
                <li><h3>Horarios</h3></li>
                <li><a href="horarios">Ver +</a></li>
            </ul>
            <ul class="box">
                <li><h3>Venta telefonica</h3></li>
                <li>WhatsApp 15 7090 6999</li>
                <li>De 9 a 18 hs. <a href="#"><i class="fa-solid fa-phone"></i></a></li>
            </ul>
            <ul class="box">
               <li><h3>Preguntas</h3></li> 
                <li><a href="horarios">Escribinos,</a> estamos para ayudarte.
                </li>
            </ul>
            </div>
</footer>
<footer class="pie-pagina2">
<div class="grupo-1">
<div class="box2">
    <ul>
        <li><h3>Categorias</h3></li>
        <li><a href="/product/list">Vinos</a></li>
        <li><a href="/product/list">Cerveza</a></li>
        <li><a href="/product/list">Spirits</a></li>
        <li><a href="/product/list">Promociones</a></li></ul>
</div>
<div class="box">
    
        <ul>
        <li><h3>Ayuda</h3></li>    
        <li><a href="">Preguntas frecuentes</a></li>
        <li><a href="">Envios</a></li>
        <li><a href="">Terminos y condiciones</a></li>
        </ul>
        </div>
<div class="box">
    <ul>
        <li>
            <h3>Medios de pagos</h3>
            <p class="tarjetas"> 
                <a href="#"><i class="fa-brands fa-cc-visa"></i></i></a>
                <a href="#"><i class="fa-brands fa-cc-mastercard"></i></a>
                <a href="#"><i class="fa-brands fa-cc-amex"></i></i></a>
            </p>
        </li>
        <li>
            <h3>Envianos tu consulta:</h3>
            <p>tienda@openbar.com</p>
        </li>
    </li><h3>Seguinos</h3> </li>
        <li>
            <p class="tarjetas">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </p>
        </li>
    </ul>
</div>
</div>
</footer>
<div class="probido"><h2>BEBER CON MODERACION. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</h2></div>  
</body>
</html>
