<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../css/stylesHeader.css">

<!-----------------------------------------=HEADER=----------------------------------------------------->
<header>

    <div class="header-1">
        <a href="/" class="logo"><img src="../images/img-logo-open-bar.gif" alt="" class="logo"></a>
                <form action="" class="search-box-container">
            <input type="search" id="search-box" placeholder="¿Qué estás buscando?">
            <label for="search-box" class="fas fa-search"></label>
        </form>

    </div>

    <div class="header-2">

        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="/product/list">Vinos</a>
            <a href="/product/list">Cervezas</a>
            <a href="/product/list">Spirits</a>
            <a href="/product/list">Promociones</a>
        </nav>

        <div class="icons">
            <a href="/user/cart" class="fa-solid fa-cart-shopping"></a>
            <a href="/login" class="fas fa-user-circle"></a>
            <a href="/register"><button class="crear-cuenta">Crear cuenta</button></a>
        </div>

    </div>

</header>