<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="css/stylesindex.css">

<!-----------------------------------------=HEADER=----------------------------------------------------->

<body>
    <header class="header-container">
<div class="Item1"><img src="images/logo opcion 1.gif" alt="" class="logo"></div>
<div class="Item2"><ul class="frase">
    <li class="texto1">OPEN BAR</li>
    <li class="texto2">AQUELLA BEBIDA QUE BUSCAS, LA ENCONTRAS</li>
</ul></div>
<div class="Item3">
    <input type="text" class="buscar-texto" placeholder="Busqueda">
    <a href="#" class="boton"><i class="fa-solid fa-magnifying-glass"></i></a>
    <a href="/login" class="acceso"><i class="fa-solid fa-address-book"></i></i></a>
    <a href="/carrito" class="shopping"><i class="fa-solid fa-cart-shopping"></i></a>
    <div class><a class="cuenta" href="/registro">Crear cuenta</a></div> 
</div>
    
</header>
    <nav class="barra">
        <a href="#">Vinos</a>
            <a href="#">Cerveza</a>
            <a href="#">Spirits</a>
            <a href="#">Promociones</a>
    </nav>