<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->

<head>
    <title>Subir archivo</title>
    <%- include ('../partials/head') %>
        <link rel="stylesheet" href="/css/stylesABMProduct.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('../partials/header') %>


<body>
    <main>
        <section class="formulariologin">
            <h5>Formulario de carga de productos</h5>
            <p>
            <form action="/admin/create" method="POST" enctype= "multipart/form-data">
                <label for="category" >Categoría:</label>
                <select name="category" id="category" required  class="controls">
                    <option value="">Elegí</option>
                    <option value="vinos-tintos">Vinos Tintos</option>
                    <option value="vinos-blancos">Vinos Blancos</option>
                    <option value="cervezas">Cervezas</option>
                    <option value="spirits">Spirits</option>
    </select>
    <label for="price">Precio:</label>
    <input  type="text" id="price" name="price" placeholder="Ej: 5678" class="controls">
    <label for="discount">Descuento: </label>
    <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="controls">
    </p>
    <p>
        <label for="name">Nombre: </label>
        <input  type="text" id="name" name="name" placeholder="Ej: Cerveza-Quilmes" class="controls">
        <label for="subCategory">SubCategoría:</label>
            <select name="subCategory" id="subCategory" class="controls">
                <option value="">Elegí</option>
                <option value="destacados">Destacados</option>
                <option value="ultimos-agregados">Utlimos agregados</option>
                <option value="en-oferta">En Oferta</option>
            </select>          
        </p>
    <p>
        <label for="bodega">Marca: </label>
        <input  type="text" id="bodega" name="bodega" placeholder="Ej: Quilmes" class="controls">
        <label for="variedad">Variedad: </label>
        <input  type="text" id="variedad" name="variedad" placeholder="Ej: Rubia" class="controls">    
        <label for="anio">Año: </label>
        <input  type="text" id="anio" name="anio" class="controls">  
        <label for="stock">Stock: </label>
        <input  type="text" id="stock" name="stock" class="controls">  
        </p>
     <p> 
        <label for="image">Foto: </label>
        <input name="image" id="image" class="buttons" type="file"></input>
        </p> 
        <p>
        <label for="description">Descipción:</label>
        <textarea name="description" id="description" class="description"></textarea>
        </p>       
    <p>
        <button type="submit" class="botton">AGREGAR</button>
        <button><a href="./administrar" class="volver" >Volver</a></button>
        </p>
        </div>
        </form>
        </section>
</main>
</body>

</html>