<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesProductDetail.css">
    <title>Open Bar</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="&">Inicio</a></li>
                <li><a href="&">Nosotros</a></li>
                <li><a href="&">Productos</a></li>
                <li><a href="&">Contacto</a></li>

            </ul>
        </nav>

    </header>
    <main>
        <section class="corona">
            <h1>Detalle de Productos</h1>
            <div>

                <article>
                    <div class="contenedor">
                        <img src="images/img-cerveza-corona.jpg" alt="Corona" class="product_img">
                        <div class="main-article">
                            <p> Corona</p>
                            <p>$180.00</p>
                            <p><button class="botones">Cantidad</button></p>
                            <p><button class="botones">Forma de Pago</button></p>
                            <p><button class="botones">Medio de Envio</button></p>
                            <p><button class="botones">Comprar</button></p>

                            </p>
                        </div>
                    </div>
                    <div>
                        <h2 class="nombreProducto">Cerveza Corona</h2>
                        <p class="description">Es una cerveza de tipo pilsener que comenzó a elaborarse en el año 1925.
                            Esta cerveza de México la produce, como bien hemos comentado antes, Grupo Modelo.
                            El 49% de esta compañía cervecera pertenece desde 2012 a la empresa belgo-brasileña
                            AB InBev.</p>
                    </div>
                </article>


            </div>
        </section>
    </main>
    <footer>

    </footer>


</body>

</html>