<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Formulario login</title>
<%- include ('../partials/head') %>
<link rel="stylesheet" href="/css/stylelogin.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('../partials/header') %>
<body>
        <main>
       <section class="formulariologin"><h5>Iniciar sesión</h5>
        <form action="/users/login" method="POST" >
        <p>
            <input class="controls" type="email" name="email" size="20" placeholder="Email">
            <% if(locals.errors && errors.email) { %>
                <div class= 'aviso-error'>
                <%=  errors.email.msg %>
                </div>
              <% } %>
            </p>
        <p>
            <input class="controls" type="password" name="password" size="20" placeholder="Contraseña">
        </p>
         <p>  
            <input type="submit" value="Login" class="buttons">
            </p> 
            <p><label class="checkbox">
                <input type="checkbox" name="remember_user">Recordarme
            </label>
                 </p> 
            <p>
                <div>
                    <a href="#">¿Olvidaste tu Contrasena?</a>
            </p></div>
        
        </form>
        </section>
      
    </main>
    <%- include ('../partials/footer') %> 
</html>
