<!DOCTYPE html>
<html lang="en">
<!-----------------------------------------=HEAD=------------------------------------------------------->
<head>
    <title>Register</title>
<%- include ('../partials/head') %>
<link rel="stylesheet" href="css/stylesRegistro.css">
</head>
<!-----------------------------------------=HEADER=----------------------------------------------------->
<%- include ('../partials/header') %>
<body>
                    <main>
                      <section class="datospersonales"><h5>DATOS PERSONALES:</h5>
                        <form action="/registro" method="post">
                            <p>
                              <input type="text" class= "datos" name="nombre" size="50" placeholder="Nombre" required></input>
                              </p>
                                <p>
                                <input type="text" class= "datos" name="apellido" size="50" placeholder="Apellido" required></input>
                              </p>
                              <p>
                                <p>
                                   <label>Fecha de nacimiento</label>
                                    </p>
                                    <p>
                                      <div class="content-select">
                                      <select name="dia">                                        
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                      <option value="13">13</option>
                                      <option value="14">14</option>
                                      <option value="15">15</option>
                                      <option value="16">16</option>
                                      <option value="17">17</option>
                                      <option value="18">18</option>
                                      <option value="19">19</option>
                                      <option value="20">20</option>
                                      <option value="21">21</option>
                                      <option value="22">22</option>
                                      <option value="23">23</option>
                                      <option value="24">24</option>  
                                      <option value="25">25</option>
                                      <option value="26">26</option>
                                      <option value="27">27</option>
                                      <option value="28">28</option>
                                      <option value="29">29</option>
                                      <option value="30">30</option>
                                      <option value="31">31</option>                           
                                    </select></div>
                                    <div class="content-select2">                               
                                    <select name="mes">
                                      <option value="1">Enero</option>
                                      <option value="2">Febrero</option>
                                      <option value="3">Marzo</option>
                                      <option value="4">Abril</option>
                                      <option value="5">Mayo</option>
                                      <option value="6">Junio</option>
                                      <option value="7">Julio</option>
                                      <option value="8">Agosto</option>
                                      <option value="9">Septiembre</option>
                                      <option value="10">Octubre</option>
                                      <option value="11">Noviembre</option>
                                      <option value="12">Diciembre</option>
                                    </select></div>  
                                        <input type="text"  class= "datos2" name="año" size="30" required placeholder="Año"></input>
                                  </p>
                                  <p>
                                  <label>Tipo de Documento:</label>
                                  </p>
                                  <p>
                                  <div class="content-select2"> 
                                  <select name="documento" required> 
                                    <option value="vacio"></option>
                                    <option value="DNI">Documento Nacional de Identidad</option>
                                    <option value="P">Pasaporte</option>
                                    <option value="LE">Libreta de enrolamiento</option>
                                    <option value="LC">Libreta Cívica</option>
                                    <option value="DEX">Documento Extranjero</option>
                                </select></div>
                                <p>
                                    <input type="text"  class= "datos" name="numeroDNI" size="50"  required placeholder="Número de documento"></input>
                                  </p>
                                  <h5>DATOS DE ENVÍO:</h5>
                                  <p>
                                    <label>Dirección:</label>
                                    </p>
                                    <p>
                                    <input type="text"  class= "datos3" name="direccion" size="50"  placeholder="Calle" required></input>
                                    <input type="text"  class= "datos3" name="Num-direccion" size="50"  placeholder="Número" required></input>
                                    <p>
                                    <input type="text"  class= "datos" name="localidad" size="50" placeholder="Localidad" required></input>
                                    </p>
                                    <p>
                                    <input type="text"  class= "datos" name="provincia" size="50" placeholder="Provincia" required></input>                                 
                                    </p>
                                  <p>
                                    <label>Teléfono de contacto:</label></p>
                                    <p><input type="text"  class= "datos" size="50" name="telefono" required></input>
                                    </p>  
                                  <h5>DATOS DE REGISTRO:</h5>
                                <p>
                                <label>E-mail:</label></p>
                                <p><input type="email"  class= "datos" size="50" name="email" required></input> 
                              </p>
                              <p>
                                <label>Contraseña:</label></p>
                              <p>  <input type="password"  class= "datos" size="50" name="password" required>
                              </p>
                              <p>
                                <input class= "button" type="submit" name="" value="Registrarme" >
                                </p>
                                <p>
                                  <input type="checkbox" name="terms" value="terms" required>Acepto los términos y condiciones</input>
                                  </p>
                                <p>
                                  <input type="checkbox" name="newsletter" value="newsletter">Deseo recibir novedades y ofertas</input>
                                  </p>
                                </section>
                            </form>
                          </main>
                        </body>
                        <!-----------------------------------------=FOOTER=----------------------------------------------------->
<%- include ('../partials/footer') %>
</html>    
                        